@tailwind base;
@tailwind components;
@tailwind utilities;

/* No seu arquivo global CSS (ex: index.css ou tailwind.css) */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
